[user]
    email = 
	name  = 
[init]
    defaultBranch = master
[core]
    editor       = vim
[diff]
	tool = vimdiff
[difftool]
    tool    = vimdiff
    prompt  = false
[alias]
    df    = difftool
    cm    = commit -m
    ci    = commit
    co    = checkout
    st    = status
    br    = branch
    re    = reset
    last  = log -1 HEAD
    recap = log -5 HEAD
[commin]
    gpgSign = true
